ion-toolbar {
  --background: #000000;
}

section.score-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 8px;
  padding-bottom: 8px;
  align-items: center;

  p {
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    justify-self: center;
  }

}